---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Welcome to Astro."
  description="Welcome to the official Astro documentation. From here you can learn about Astro and its key features."
  image=""
  type="website"
>
  <h1 class="text-5xl font-bold text-white">Welcome to Astro</h1>
</Layout>
